{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=div, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/aboutus.css' %}" />
    <script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="top-card">
      <img src="{% static 'images/logo.png' %}" class="logo-img"/>
      <div class="nav-items">
       <ul class="list" style="padding-left: 250px;">
        <li class="items"><a href="{% url "home"%}">Home</a> </li>
        <li class="items"><a href="{% url "aboutus"%}">About Us</a></li>
        <li class="items"><a href="{% url "service"%}">Services</a></li>
        <li class="items"><a href="{% url "contactus"%}">Contact Us</a></li>
       </ul>
     </div>
    </div>


    <div>
      <img src="{% static 'images/software.webp' %}" width="100%" >

      <div class="heading">
        <center>
        <h1 class="about_content">About Us</h1>
        </center>
        <br>
        <center>
        <h2 class="about_item">6 + years of expertise</h2>
        </center>
         <p class="about_para">LUR IT BUSINESS SOLUTIONS PVT LTD., is a fast-growing IT Company that provides holistic IT solutions to businesses across geographies We offer IT expertise in software, website, and application developments, UI/UX design, and digital marketing.

        Following the latest web development trends and applying the best practices of Internet marketing, we implement the most challenging ideas to deliver you quality results. Verified by the detailed market analysis and supported by the professionalism and reliability of our specialists, you get top-notch solutions to promote your business.

        With over 6 + years of expertise to fall back upon, we have emerged as a leading Designs, IT Software developments and Digital Marketing Company in Hyderabad.
         </p>
      </div>
    </div>
     
    <footer>
      <div class="container">
         <div class="footer-content">
            <h3>contact us</h3>
            <p>email:md@luritsolution.com</p>
            <p>phone:8106216882</p>
          <p>Address:AmeerpetMetro Station,Hyderabad</p>
          </div>
          <div class="footer-content">
             <h3>Quick Link</h3>
             <ul class="list_item">
                <li><a href="{% url 'home' %}">home</a></li>
                <li><a href="{% url 'aboutus' %}">about</a></li>
                <li><a href="{% url 'service' %}">services</a></li>
                <li><a href="{% url 'contactus' %}">contact</a></li>
             </ul>
           </div>
           <div class="footer-content">
              <h3>Follow Us</h3>
              <ul class="social-icons">
              <li><a href=""><i class="fab fa-facebook"></i></a></li>
              <li><a href=""><i class="fab fa-twitter"></i></a></li>
              <li><a href=""><i class="fab fa-instagram"></i></a></li>
              </ul>
           </div>

      </div>
      <div class="bottom-bar">
         <p>@ 2023 you company.All rights reserved</p>
      </div>
      </footer>
     
  </body>
</html>
