{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=div, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/contactus.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.1/css/fontawesome.min.css"  integrity="
    sha384-QYIZto+st3yW+o8+5OHfT6S482Zsvz2WfOzpFSXMF9zqeLcFV0/wlZpMtyFcZALm" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <div class="top-card">
      <img src="{% static 'images/logo.png' %}" class="logo-img"/>
      <div class="nav-items">
        <ul class="list" style="padding-left: 250px;">
        <li class="items"><a href="{% url "home"%}">Home</a> </li>
        <li class="items"><a href="{% url "aboutus"%}">About Us</a></li>
        <li class="items"><a href="{% url "service"%}">Services</a></li>
        <li class="items"><a href="{% url "contactus"%}">Contact Us</a></li>
       </ul>
     </div>
    </div>

    <section class="contact">
      <div class="content">
        <br><br><br><br>
      <h1 style="font-size: 40px;">Contact Us</h1>
      <br><br>
      {% comment %} <p style="font-size: 40px;">Have a question?Reach out to our team.</br>Get answers to questions about products,sales,support and everything else.</p> {% endcomment %}
      </div>
      <div class="container">
          <div class="contactInfo">
          <div class="box" style="padding-left: 80px;">
              <div  class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-map" viewBox="0 0 16 16">
                  <path fill-rule="evenodd" d="M15.817.113A.5.5 0 0 1 16 .5v14a.5.5 0 0 1-.402.49l-5 1a.502.502 0 0 1-.196 0L5.5 15.01l-4.902.98A.5.5 0 0 1 0 15.5v-14a.5.5 0 0 1 .402-.49l5-1a.5.5 0 0 1 .196 0L10.5.99l4.902-.98a.5.5 0 0 1 .415.103zM10 1.91l-4-.8v12.98l4 .8V1.91zm1 12.98 4-.8V1.11l-4 .8v12.98zm-6-.8V1.11l-4 .8v12.98l4-.8z"/>
                </svg></div>
              <div class="text">
                  <h3 style="padding-right: 110px;">Address</h3>
                  <p>unit-603/D,5th Floor,<br>vasavi MPM Grand,<br>Beside Ameerpet Metro Station,<br>Hyderabad-500073</p>
              </div>
              </div>
          <div class="box" style="padding-left: 80px;">
          <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-telephone-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
            </svg></div>
          <div class="text">
              <h3>Phone</h3>
              <p>8106216882</p>
          </div>
          </div>
          <div class="box" style="padding-left: 80px;">
              <div class="icon"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                  <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
                  <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
                </svg></div>
              <div class="text">
                  <h3 style="padding-right: 130px;">Email</h3>
                  <p>md@luritsolution.com</p>
      </div>
      </div>
      </div>
      <div class="contactForm">
          <form>
              <h2>send Message</h2>
              <div class="inputBox">
                  <input type="text"name="" required="required">
                  <span>FULL NAME</span>
                  </div>
                      <div class="inputBox">
                          <input type="text"name="" required="required">
                          <span>Email</span>
                      </div>
                      <div class="inputBox">
                          <textarea required="required"></textarea>
                          <span>type your Message...</span>
                      </div>
                      <div class="inputBox">
                          <input type="submit" name="" value="send">
                      </div>
                      
           </form>
      </div>
      </div>
  </div>
  </section>
  <footer>
    <div class="containers">
       <div class="footer-content">
          <h3>contact us</h3>
          <p>email:md@luritsolution.com</p>
          <p>phone:8106216882</p>
        <p>Address:AmeerpetMetro Station,Hyderabad</p>
        </div>
        <div class="footer-content">
           <h3>Quick Link</h3>
           <ul class="list_item">
              <li><a href="{% url 'home' %}">home</a></li>
              <li><a href="{% url 'aboutus' %}">about</a></li>
              <li><a href="{% url 'service' %}">services</a></li>
              <li><a href="{% url 'contactus' %}">contact</a></li>
           </ul>
         </div>
         <div class="footer-content">
            <h3>Follow Us</h3>
            <ul class="social-icons">
            <li><a href=""><i class="fab fa-facebook"></i></a></li>
            <li><a href=""><i class="fab fa-twitter"></i></a></li>
            <li><a href=""><i class="fab fa-instagram"></i></a></li>
            </ul>
         </div>

    </div>
    <div class="bottom-bar">
       <p>@ 2023 you company.All rights reserved</p>
    </div>
    </footer>
  
     
    </body>
  </html>
  